* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background: #08131F;
    color: #F9F9F6;
    overflow-x: hidden;
    position: relative;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: #13191fa1;
    backdrop-filter: opacity(0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.first-name {
    color: #F9F9F6;
}

.last-name {
    color: #DD5245;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #F9F9F6;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    color: #DD5245;
}

.hero {
    text-align: center;
    margin-top:270px;
    margin-bottom: 100px;
    z-index: 100;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 100px;
}

.highlight {
    color: #DD5245;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    margin: 0px 0px;
    background-color: #DD5245;
    border-radius: 10px;
    color: #08131F;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}
button a{
    text-decoration: none;
    color: #08131F;
}

.button:hover {
    background: #F3E28E;
    box-shadow: #dd52458c 0px 0px 16px;
}

/* Background Rectangles */
.circleLarge {
    width: 278.94px;
    height: 267.68px;
    position: fixed;
    top: 0.16px;
    right: 96px;
    opacity: 0.5;
    background: #1F2933;
    border-radius: 9999px;
    z-index: -1;
}

.circleSmall {
    width: 103.58px;
    height: 98.32px;
    position: fixed;
    top: 10px;
    left: 280.05px;
    opacity: 0.72;
    background: #1F2933;
    border-radius: 9999px;
    z-index: -1;
}

.rect-left {
    width: 120.22px;
    height: 120.02px;
    position: fixed;
    top: 80.46px;
    left: 350.05px;
    transform: rotate(20deg);
    opacity: 0.72;
    background: #1F2933;
    z-index: -1;
}

.rect-right {
    width: 120.22px;
    height: 120.02px;
    position: fixed;
    top: 80.46px;
    right: -20.05px;
    transform: rotate(20deg);
    opacity: 0.72;
    background: #1F2933;
    z-index: -1;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 60px;
}

.social-icons a {
    color: #F9F9F6;
    transition: fill 1ms ease-in-out;
}

.social-icons a:hover {
    color: #DD5245;
    filter: drop-shadow(0px 0px 8px #dd524565);    
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-top: 250px ;
    padding: 100px 100px;
    gap: 100px;
}

.about-me-text {
    padding-bottom: 170px;
}


.section-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #F9F9F6;
    margin: 34px 0;
}

.about-me{
    font-size: 16px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #f9f9f6e1;
    padding-bottom: 34px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-bottom: 16px;
    border-radius: 4%;
    box-shadow: 0px 0px 16px #dd5245b6;
    width: 400px;
    height: 400px;
}

.quote {
    font-size: 16px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #B1B5B6;
    width: 50%;
    text-align: center;
}

.skills-section{
    padding: 100px 100px 150px 100px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 70px ;
    gap: 80px;
    text-align: center;
    
}

.skills-container p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px 0px;
    font-weight: 500;
}

.projects-section {
    padding: 100px 100px 150px 100px;
    
}

.projects-container h1{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align: center;
   padding: 12px;
   margin-bottom: 100px;
}

.ux-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    gap: 80px;
    /* padding: 70px ; */
}

.about-project h3{
    width: 100%;
    font-size: 28px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #f9f9f6e1;
    padding-bottom: 34px;
}

.about-project p{
    font-size: 16px;
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    color: #f9f9f6e1;
    padding-bottom: 34px;
}

.ux-project img{
    border-radius: 4%;
    box-shadow: 0px 0px 16px #dd5245b6;
}




